:host > div{
  position: fixed;
  top:0;left:0;
  width: 100vw;
  height: 100vh;
}

/* slide navigation */
.pr-btn{
  font-size: 3rem;
  color: rgb(220,220,220);
  cursor: pointer;
  position: fixed;

  &:hover{
    color: rgb(190,190,190);
  }
  &.pr-next{
    top: 50%;
    right: 1%;
  }
  &.pr-prev{
    top: 50%;
    left: 1%;
  }
  &.pr-down{
    bottom: 1%;
    left: 50%;
    transform: rotate(-100deg);
  }
}

